#about {
    h2 {
        color: white;
        font-size: 2.2rem;
    }
}

.flags {

    /* MIN AND MAX TOGETHER WORK FOR LAPTOP AND BIG MONITOR. CHECK IT ALWAYS! */
    @media only screen and (min-width: 860px) and (max-width: 1600px) {
        // super responsive!
        margin-top: 280px !important;
    }

    @media only screen and (min-width: 512px) and (max-width: 1200px) {
        // super responsive!
        margin-top: 300px !important;
    }

    @media only screen and (min-width: 1600px) and (max-width: 2000px) {
        // super responsive!
        margin-top: 110px !important;
    }

    //     @media only screen and (min-width: 1000px) and (max-width: 2000px) {
    //         // super responsive!
    //         margin-top: 110px !important;
    //     }
    // }
}