#about {
    h2 {
        color: white;
        font-size: 2.2rem;
    }
}

.flags {
    /* MIN AND MAX TOGETHER WORK FOR LAPTOP AND BIG MONITOR. CHECK IT ALWAYS! */

    @media only screen and (min-width: 160px) and (max-width: 560x) {
        // super responsive!
        margin-top: 500px !important;
    }

    @media only screen and (min-width: 560px) and (max-width: 860x) {
        // super responsive!
        margin-top: 900px !important;
    }

    @media only screen and (min-width: 860px) and (max-width: 1100x) {
        // super responsive!
        margin-top: 500px !important;
    }

    // @media only screen and (min-width: 780px) and (max-width: 973x) {
    //     // super responsive!
    //     margin-top: 1530px !important;
    // }

    @media only screen and (min-width: 1100px) and (max-width: 1490px) {
        // super responsive!
        margin-top: 330px !important;
    }

    @media only screen and (min-width: 1500px) and (max-width: 1900px) {
        // super responsive!
        margin-top: 310px !important;
    }

    @media only screen and (min-width: 1900px) and (max-width: 2500px) {
        // super responsive!
        margin-top: 100px !important;
    }

    // @media only screen and (min-width: 512px) and (max-width: 1200px) {
    //     // super responsive!
    //     margin-top: 330px !important;
    // }

    //     @media only screen and (min-width: 1000px) and (max-width: 2000px) {
    //         // super responsive!
    //         margin-top: 110px !important;
    //     }
    // }
}

// MOBILE IMG
// .mobileImg {
//   @media (max-width: 700px) {
//     background: url("/img/mobile.jpg") no-repeat center center/cover !important;
//     height: 87vh;
//     background-attachment: fixed !important;
//   }
// }