// FIRST IMAGE


@media (min-width: 700px) {
  nav {
    background: url("/img/imgMobile.jpg") no-repeat center center/cover;
    height: 83vh;
    // para oscurecer foto: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  }

  a {
    font-weight: 900;
    font-size: 1.1rem !important;
    color: white;

    .nav-link {
      text-decoration: none;
      font-size: 5px;
      color: #eee;
      letter-spacing: 4px;
      text-transform: uppercase;
      position: relative;
      /*para q las líneas aparezcan con el hover*/
      padding: 4px 0;
      /*para separar las líneas naranjas de las palabras*/
    }

    /*-----------HOVER EFFECTS------------*/
    .nav-link::before,
    .nav-link::after {
      /*position absolute para q las líneas puedan verse, sino al ser 'a' un elemento inline-block no pueden verse*/
      content: '';
      width: 50%;
      height: 2px;
      background-color: chocolate;
      position: absolute;
      left: 0;
      /*para ubicarlas al comienzo de cada palabra*/

      transform: scaleX(0);
      /*to HIDE the lines*/
      transition: transform 0.5s;
    }

    .nav-link::after {
      /*para hacerle la línea de debajo*/
      bottom: 0;
      transform-origin: right;
      /*para q la línea comience desde la derecha*/
    }

    .nav-link::before {
      /*para hacerle la línea de arriba*/
      top: 0;
      transform-origin: left;
      /*para q la línea comience desde la izquierda*/
    }

    .nav-link:hover::before,
    .nav-link:hover::after {
      transform: scaleX(1);
    }

    // &:hover {
    //   text-decoration: solid 1px white;
    //   color: black;
    //   cursor: pointer;
    // }
  }
}

// MOBILE
@media (max-width: 700px) {
  .navMob {
    background: url("/img/mobileSuperSmall.jpg") no-repeat center center/cover;
    height: 87vh;
    background-attachment: fixed; // efecto de q se mueva todo menos la img
  }

  // a
  .nav-link {
    color: white;
    font-weight: 700;
    font-size: 15px !important;

    &:hover {

      text-decoration: solid;
      color: white;
      cursor: pointer;
    }
  }

  #text {
    color: black;
    font-weight: 700;
    // margin: 115px 0 0 20px;
  }
}


// FOOTER
footer {
  @media (min-width: 700px) {
    background: #2d3142;
    color: white;
  }

  .redes {
    height: 55px;
  }

  .redes2 {
    width: 95px;
  }
}